/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1  &kp N2            &kp N3             &kp N4         &kp N5          &kp N6  &kp N7   &kp N8         &kp N9    &kp N0        &kp MINUS
&kp TAB    &kp Q   &kp W             &kp E              &kp R          &kp T           &kp Y   &kp U    &kp I          &kp O     &kp P         &kp BACKSLASH
&kp LSHFT  &kp A   &kp S             &kp D              &kp F          &kp G           &kp H   &kp J    &kp K          &kp L     &kp UP_ARROW  &kp EQUAL
&kp GRAVE  &kp Z   &kp X             &kp C              &kp V          &kp B           &kp N   &kp M    &kp COMMA      &kp DOT   &kp DOWN      &kp RIGHT
                   &kp LEFT_BRACKET  &kp RIGHT_BRACKET                                                  &kp SLASH      &kp LEFT
                                     &kp SPACE          &kp BACKSPACE  &kp LEFT_WIN                     &kp SEMICOLON
                                     &kp LCTRL          &kp LALT       &kp DELETE      &tog 1  &kp RET  &kp SQT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                    &trans  &trans
                        &trans  &trans  &trans                    &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                    &trans  &trans
                        &trans  &trans  &trans                    &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
